@model IEnumerable<TicketVerkoop.ViewModels.PloegVM>
<link rel="stylesheet" href="~/css/PloegStyles.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PloegId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuisStadiumId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PloegId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuisStadiumId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table> *@
<div class="team-container">
    @foreach (var item in Model)
    {
        <div class="team-item">
            <div class="logo">
                <img src="@Url.Content($"~/images/ploegen/{item.PloegId}.png")" />
            </div>
            <div class="info">
                <div class="name">@item.Naam</div>
            </div>
        </div>
    }
</div>
