@model TicketVerkoop.ViewModels.AbonnementSelectieVM

@{
    ViewData["Title"] = "AbonnementSelection";
}
<link rel="stylesheet" href="~/css/AbonnementSelectionStyles.css">

<div>
    <h1>Abonnement selectie</h1>

    <div id="header">
        <span>voor</span>
        <h4> @Model.PloegNaam</h4>
        <span>in</span>
        <h4> @Model.PloegNaam @Model.StadiumNaam</h4>
    </div>

    <div class="row">
        <div class="col-md-3">
            Ring
        </div>
        <div class="col-md-3">
            Section
        </div>
    </div>
    <form method="post" id="abonnementForm">
        <!-- Add ID to the form -->
        <div class="row">
            <div class="col-md-3">
                <select name="RingId" class="Id" id="RingId"
                        asp-items="@ViewBag.lstRings">
                    <option>Kies een Ring</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="sectionId" class="Id" id="sectionId"
                        asp-items="@ViewBag.lstSections">
                    <option>Kies een Section</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="zitplaatsId" class="Id" id="zitplaatsId"
                        asp-items="@ViewBag.lstZitplaats">
                    <option>Kies een Zitplaats</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group" >
            <button type="submit" id="submitBTN" asp-for="AbonnementSelection">
                Submit
            </button>
        </div>
  
        @if (Model.Prijs != null)
        {
            <div class="col-md-3 prijs">Prijs @Model.Prijs Eur</div>
            <br />
            <input type="hidden" name="AbonnementSelectieVM.PloegId" value="@Model.PloegId" />
            <input type="hidden" name="AbonnementSelectieVM.PloegNaam" value="@Model.PloegNaam" />
            <input type="hidden" name="AbonnementSelectieVM.StadiumNaam" value="@Model.StadiumNaam" />
            <input type="hidden" name="AbonnementSelectieVM.ThuisStadiumId" value="@Model.ThuisStadiumId" />
            <input type="hidden" name="AbonnementSelectieVM.Prijs" value="@Model.Prijs" />
            <input type="hidden" name="AbonnementSelectieVM.SelectedRingId" value="@Model.SelectedRingId" />
            <input type="hidden" name="AbonnementSelectieVM.SelectedRingNaam" value="@Model.SelectedRingNaam" />
            <input type="hidden" name="AbonnementSelectieVM.SelectedSectiondId" value="@Model.SelectedSectiondId" />
            <button class="btn btn-default" type="submit"
                    asp-controller="Abonnement"
                    asp-action="AddAbonnement" >
                <img src="~/images/shoppingCar.jpg" />
                Add to Cart
            </button>
        }
    </form>

@*     @if (Model.Prijs != null)
    {
        <form method="post" asp-action="AddAbonnement">
            <div class="col-md-3 prijs">Prijs @Model.Prijs Eur</div>
            <br />
            <button class="btn btn-default" type="submit">
                <img src="~/images/shoppingCar.jpg" />
                Add to Cart
            </button>
        </form>
    } *@

    <div>
        <a asp-asp-route="Abonnement" asp-action="Index">Back to List</a>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(() => {
            // Bind change event only to dropdown lists within the form with ID 'abonnementForm'
            $("#abonnementForm .Id").on("change", () => {
                // Submit the form with ID 'abonnementForm'
                $("#submitBTN").click(); // Trigger click event of the submit button
            });
        });


        // Reset sectionId to null and trigger change event when RingId changes
        $("#RingId").on("change", function () {
            $("#sectionId").val(null).trigger("change");
        });
    </script>
}