@model IEnumerable<TicketVerkoop.ViewModels.PloegVM>

@{
    ViewData["Title"] = "Index";
}
@if (Model == null)
{
    <h1>Er is geen data van de server</h1>
} else {
    <h1>Kies je abonnement</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StadiumNaam)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StadiumNaam)
                </td>
                <td>
                    <a asp-area="" asp-controller="Abonnement" asp-action="AbonnementSelection"
                        asp-route-StadiumID="@item.ThuisStadiumId"
                        asp-route-PloegID="@item.PloegId"
                        asp-route-PloegNaam="@item.Naam"
                        asp-route-StadiumNaam="@item.StadiumNaam">
                        Koop abonnement
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}