@model TicketVerkoop.ViewModels.AbonnementSelectieVM
@{
    decimal total = 0;
}
<div class="row grey">
    <p class="col-md-2">Ploegnaam</p>
    <p class="col-md-2">Stadianaam</p>
    <p class="col-md-2">Ring</p>
    <p class="col-md-2">Section</p>
    <p class="col-md-2">Zitplaats</p>
    <p class="col-md-2">Prijs</p>
</div>
<br />
<div class="row">
    <p class="col-md-2">@Html.DisplayFor(model => model.PloegNaam)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.StadiumNaam)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.SelectedRingNaam)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.SelectedSectiondId)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.StoelId)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.Prijs)</p>
</div>

@if (Model.Prijs.HasValue)
{
    total += Model.Prijs.Value;
}