@model TicketVerkoop.ViewModels.MatchVM


<div class="row col-12" id="matchInfoBar">
    <div class="col-md-2">
        <p>Datum</p>
    </div>

    <div class="col-md-2">
        <p>Stadium</p>
    </div>

    <div class="col-md-1">
       <p>Thuis ploeg</p>
    </div>

    <div class="col-md-3">
        <p class="centered-text">Match</p>
    </div>

    <div class="col-md-1">
       <p>Uit ploeg</p>    
   </div>

    <div class="col-md-2">
        <p class ="centered-text">Tickets</p>
    </div>
</div>

<div class="row">



    <div class="col-md-2">
        <p class="date">@Html.DisplayFor(model => model.Datum)</p>
        <p class="date">@Html.DisplayFor(model => model.DayOfWeek)</p>
        <p>@Html.DisplayFor(model => model.Time)</p>
    </div>

   <div class="col-md-2 stadium-match-ticket-content">
        <p>@Html.DisplayFor(model => model.StadiumNaam)</p>
   </div>
    
    <div class="col-md-1">
        <img id="tshirt-logo" src="/images/t-shirt-logo.jpg" />
    </div>

    <div class="col-md-3 stadium-match-ticket-content centered-horizontaly">
        <span>@Html.DisplayFor(model => model.ThuisPloegNaam)</span>
        <span>  <img id="ball-logo" src="/images/ball-logo.jpg" /> </span>
        <span> @Html.DisplayFor(model => model.UitPloegNaam)</span>
    </div>

    <div class="col-md-1">
        <img id="tshirt-logo" src="/images/t-shirt-logo.jpg" />
    </div>

    <div class="col-md-2 stadium-match-ticket-content centered-horizontaly">
        <a href="">Buy Tickets</a>
    </div>

</div>