@model TicketVerkoop.ViewModels.TicketVM

<div class="row grey">
    <p class="col-md-2">Stadium</p>
    <p class="col-md-2">ThuisPloeg</p>
    <p class="col-md-2">UitPloeg</p>
    <p class="col-md-1">Datum</p>
    <p class="col-md-1">Ring</p>
    <p class="col-md-1">Section</p>
        @if (Model.Zitplaats != null)
    {
        <p class="col-md-1">Zitplaats</p>
    }
    <p class="col-md-1">Prijs, Eur</p>
    @if (Model.Zitplaats == null)
    {
        <p class="col-md-1">Delete?</p>
    }
</div>
<br />
<div class="row">
    <p class="col-md-2">@Html.DisplayFor(model => model.StadiumNaam)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.ThuisPloegNaam)</p>
    <p class="col-md-2">@Html.DisplayFor(model => model.UitPloegNaam)</p>
    <div class="col-md-1 stadium-match-ticket-content">
        <p class="date">@Html.DisplayFor(model => model.Datum)</p>
        <p class="date">@Html.DisplayFor(model => model.DayOfWeek)</p>
        <p class="date">@Html.DisplayFor(model => model.Time)</p>
    </div>
    <p class="col-md-1">@Html.DisplayFor(model => model.RingNaam)</p>
    <p class="col-md-1">@Html.DisplayFor(model => model.SectionId)</p>

    @if (Model.BestellingId != null)
    {
        @if (Model.Zitplaats.Count > 0)
        {
            <p class="col-md-1">@Html.DisplayFor(model => model.Zitplaats)</p>
        } 
        else
        {
            <p class="col-md-1 canceled">CANCELED</p>

        }

    }

    <p class="col-md-1">@Html.DisplayFor(model => model.Prijs)</p>
    @if (Model.Zitplaats == null && Model.Id != null)
    {
        <div class="col-md-1">
            <form asp-action="DeleteTicketItem" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    }

    @if (Model.Zitplaats != null && Model.Zitplaats.Count > 0 && Model.Id == null 
        && Model.DateTime > DateTime.Now 
        && (Model.DateTime - DateTime.Now).TotalDays > 7)
    {
        <div class="col-md-1">
            <form asp-controller="BookingHistory" method="post">
                <input type="hidden" asp-for="@Model.SectionId" />
                <input type="hidden" asp-for="@Model.Zitplaats.FirstOrDefault().ZitplaatsId" />
                <input type="hidden" asp-for="@Model.BestellingId" />
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
@*             <a class="btn btn-danger" asp-action="DeleteTicket"
               asp-route-SectionId="@Model.SectionId" asp-route-ZitPlaatsId="@Model.Zitplaats">Cancel</a> *@
        </div>
    }
</div>
