@model TicketVerkoop.ViewModels.BestellingenVM

@{
    ViewData["Title"] = "OrderDetails";
}
@{
    decimal total = 0;
}
<h1>OrderDetails</h1>

@if (Model == null || (Model.Tickets == null && Model.Abonnements == null))
{
    <p>Your shopping cart is empty.</p>
}
else
{

       <div>
        @if (Model.Tickets != null && Model.Tickets.Count > 0)
        {
            <h4>Tickets in je kaart</h4>
            <table>
                <tr>
                    <th>Stadium</th>
                    <th>Stad</th>
                    <th>Thuisploeg</th>
                    <th>Uitploeg</th>
                    <th>Aantal Tickets</th>
                    <th>Ring</th>
                    <th>Section</th>
                    <th>Zitplaats(en) nr</th>
                    <th>Prijs</th>
                </tr>

                @foreach (var item in Model.Tickets)
                {
                    <tr>
                        <td>@item.StadiumNaam</td>
                        <td>@item.Stad</td>
                        <td>@item.ThuisPloegNaam</td>
                        <td>@item.UitPloegNaam</td>
                        <td>@item.aantaZitPlaatsen</td>
                        <th>@item.RingNaam</th>
                        <th>@item.SectionId</th>
                        <td><strong>@item.StoelId</strong></td>
                        <td>@item.Prijs, Eur</td>
                    </tr>

                    @if (item.Prijs != null)
                    {
                        total += decimal.Parse(item.Prijs);
                    }
                }
            </table>
        }

        @if (Model.Abonnements != null && Model.Abonnements.Count > 0)
        {
            <h4>Abonnementen in je kaart</h4>
            <br />
            <div class="row">
                <p class="col-md-2">Ploegnaam</p>
                <p class="col-md-2">Stadianaam</p>
                <p class="col-md-2">Ring</p>
                <p class="col-md-2">Section</p>
                <p class="col-md-2">Zitplaats</p>
                <p class="col-md-2">Prijs</p>
            </div>
                @foreach (var item in Model.Abonnements)
                {
                <div class="row">
                    <p class="col-md-2">@item.PloegNaam</p>
                    <p class="col-md-2">@item.StadiumNaam</p>
                    <p class="col-md-2">@item.SelectedRingNaam</p>
                    <p class="col-md-2">@item.SelectedSectiondId</p>
                    <p class="col-md-2">@item.StoelId</p>
                    <p class="col-md-2">@item.Prijs</p>
                </div>
                    @if (item.Prijs.HasValue)
                    {
                        total += item.Prijs.Value;
                    }
                }
        }

        <p style="text-align: center; font-weight: bold;" id="totalePrijs">Total: @total.ToString("0.00") Eur</p>
    </div>
}