@model TicketVerkoop.ViewModels.StadiumTicketVM

@{
    ViewData["Title"] = "Ticket";
}

<h1>Ticket</h1>

<div class="row">
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Naam)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Stad)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Rings)
        </div>
    </div>

  
        <div class="row">

            <div class="col-md-2">
                @Html.DisplayFor(model => model.Naam)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Stad)
            </div>
            <div class="col-md-2">
                <select name="RingId" class="Id"
                        asp-items="@ViewBag.lstRings">
                    <option>Kies een Ring</option>
                </select>
            </div>
        </div>
  
</div>